a {
	color: #143d9c;	

}

/*b, strong {
	font-weight: 700;
}*/

@font-face {
    font-family: 'OpenSans-Regular';
    font-display: auto;
    font-style:  normal;
    font-weight: 400;
    src: local('OpenSans-Regular'), url('../webfonts/OpenSans-Regular.ttf') format('ttf');
}

body {
    font-family: "OpenSans-Regular", sans-serif;
    font-weight: 400;
    color: #333;
    line-height: 1.6em;
    font-size: 18px;
}

.twitter-tweet-rendered {
    display:block;
    margin-left:auto;
    margin-right:auto;
}