{{ with .Params.images }} 
 
	<meta itemprop="image" content="{{ . | absURL }}" />
	<meta property="og:image" content="{{ . | absURL }}" /> 
	<meta name="twitter:image" content="{{ . | absURL }}" />
	<meta name="twitter:image:src" content="{{ . | absURL }}" /> 

{{ else }}

	<meta itemprop="image" content="{{ .Site.Params.avatar | absURL }}" />
	<meta property="og:image" content="{{ .Site.Params.avatar | absURL }}" />
	<meta name="twitter:image" content="{{ .Site.Params.avatar | absURL }}" />
	<meta name="twitter:image:src" content="{{ .Site.Params.avatar | absURL }}" /> 
{{ end }}